.intro {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 75%, 0 100%);
}

.clip-top {
  clip-path: polygon(50% 25%, 100% 0%, 100% 100%, 0 100%, 0 0);
}

svg.deco {
  max-width: 200px;
}

@media (min-width: 768px) {
  svg.deco {
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .box {
    margin-left: -250px;
  }
}
